@font-face {
  font-family: "Hanson-Bold";
  src: url("/Fonts/Hanson-Bold.otf") format("opentype");
}

@font-face {
  font-family: "ArgentumSans-Medium";
  src: url("/Fonts/ArgentumSans-Medium.ttf") format("truetype");
}

@media screen and (min-width: 601px) {
  .H1-Text {
    font-size: 42px;
  }
  .p-Text {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .H1-Text{
    font-size: 22px;
  }
  .p-Text {
    font-size: 12px;
  }
  #socials {
    min-height: 100%;
  }
} 

html,body {
  height:100%; 
  background-color: black;
  margin: 0px;
}

#Profile {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid #f6e71d;
}

.H1-Text {
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
  font-family: Hanson-Bold;
}

#socials {
  background-color: #f6e71d;
  height: 17vh;
}
#info {
  background-color: #f6e71d;
}

#EDUCATION {
  background-color: #f6e71d;
}

.p-Text {
  color: #f1f1f1;
  font-family: ArgentumSans-Medium;
}

a {
  text-decoration: none;
}

#Flex {
  margin: 0;
  display: flex;
  justify-content: center;
}

#FB {
  margin: 5px;
  height: 40px;
  width: 40px;
}
#IG {
  margin: 5px;
  height: 40px;
  width: 40px;
}
#DC {
  margin: 5px;
  height: 40px;
  width: 40px;
}
#EM {
  margin: 5px;
  height: 40px;
  width: 40px;
}

#SOCIALS {
  margin-bottom: 0;
}
